body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}

.btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.todo-container {
  width: 300px;
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 10px;
}

.todo-header {
  font-weight: bold;
  margin-left: 50px;
}

.todo-text {
  margin-left: 5px;
}
